<p id="notice"><%= notice %></p>

<p>
  <strong>Stars:</strong>
  <%= @comment.stars %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Local user:</strong>
  <%= @comment.local_user %>
</p>

<p>
  <strong>Match user:</strong>
  <%= @comment.match_user %>
</p>

<% if match_user_signed_in? %>
  <% if current_match_user == @comment.match_user%>
    <%= link_to 'Edit', edit_comment_path(@comment) %>
  <% end %>
<% end %>
<%= link_to 'Back', comments_path %>
